<%= form_for(@upload_picture) do |f| %>
  <% if @upload_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload_picture.errors.count, "error") %> prohibited this upload_picture from being saved:</h2>

      <ul>
      <% @upload_picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
