@charset "UTF-8";

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-text-size-adjust: none;
  background: #FFF;
  font-size: small;
  font-weight: normal;
  text-rendering: optimizelegibility; 
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 15px;
}

.container {
  margin: 0px auto;
  width: 980px;
}

.upload-pic {
  margin: 10px;
  padding: 5px 10px 10px;
  width: 937px;
  border: 1px solid #DDD;
  -moz-box-shadow: 0px 2px 5px #CDCDCD;
  -webkit-box-shadow: 0px 2px 5px #CDCDCD;
  box-shadow: 0px 2px 5px #CDCDCD;
  position: relative;
}

.upload-pic .message-span, .upload-pic .error_message {
  margin: 150px auto;
  width: 420px;
  height: 100px;
  background: rgba(138,138,138,0.9) !important;
  background: #8a8a8a;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 0 7px #999;
  -webkit-box-shadow: 0 0 7px #999;
  box-shadow: 0 0 7px #999;
}
  
.upload-pic .error_message {
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-size: 140%;
  text-transform: uppercase;
}

.upload-pic .message-span span {
  color: #FFF;
  padding: 32px 10px;
  height: 36px;
  line-height: 20px;
  text-align: center;
  display: block;
  position: relative;
  font-size: 140%;
}

.upload-pic .upload-title {
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0px 8px;
  text-transform: uppercase;
  height: 25px;
  line-height: 30px;
  color: #3c3c3c;
  position: relative;
}

.upload-pic .upload-title span {
  background: url(/assets/gradient-white.png) repeat-x;
  position: absolute;
  width: 300px;
  height: 25px;
}

.upload-pic img {
  max-width: 937px;
  max-height: 400px;
}

.min-height {
  min-height: 400px; 
}

.upload-files {
  margin: 10px;
  padding: 10px 13px 10px 10px;
  width: 934px;
  background: #FFF;
  border: 1px solid #DDD;
  -moz-box-shadow: 0px 2px 5px #CDCDCD;
  -webkit-box-shadow: 0px 2px 5px #CDCDCD;
  box-shadow: 0px 2px 5px #CDCDCD;
  color: #666;
  float: left;
}

.upload-files input[type="file"] {
  margin: 10px;
  font-size: 90%;
}

.hidden {
  display: none;
}

.list-pic {
  margin: 10px;
  padding: 5px 10px 10px;
  width: 469px;
  height: 200px;
  border: 1px solid #DDD;
  -moz-box-shadow: 0px 2px 5px #CDCDCD;
  -webkit-box-shadow: 0px 2px 5px #CDCDCD;
  box-shadow: 0px 2px 5px #CDCDCD;
  position: relative;
}

.list-pic img {
  max-width: 469px;
  max-height: 200px;
}

.upload-pic .upload-message {
	position:absolute;
	bottom:10px;
	width:917px;
	padding: 5px 10px;
	background:rgba(0, 0, 0, 0.5) !important;
	background:#000;
	display:none;
}
.upload-pic:hover .upload-message {
	display:block;
}
.upload-pic .upload-message span {
    color:#FFF;
    height:18px;
    line-height:18px;
    display:block;
    float: left;
    width: 700px;
}

.upload-pic .upload-message span a {
	color:#FFF;
	text-decoration:underline;
}
.upload-pic .upload-message span a:hover {
	color:#FFF;
	text-decoration:none;
}